<%- include("navbar.ejs") %>


  <section class="media-discover inner-content">
    <div class="media-container">
      <div class="title">
        <h1>Welcome</h1>
        <h3>Millions of movies, TV shows and people to discover. Explore now.</h3>
      </div>

      <div class="search">
        <form action="" id="search-form">
          <input type="text" name="search" placeholder="search for Movie, TV show and person..." />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </section>

  <section class="trending inner-content">
    <div class="column-container m-tb-5">
      <div class="column-container-header flex">
        <h1>Trending</h1>
        <div class="selector flex" >
          <div class="anchor today selected">
            <a href="#" class="non-clickable">Today</a>
          </div>
          <div class="anchor week">
            <a href="#" class="non-clickable">This week</a>
          </div>
        </div>
      </div>

      <div class="column-content flex dayList">
        <% if (trendingMovieListDay) { %>
          <% for (const movie of trendingMovieListDay.results) { %>
            <div class="movie-card">
              <a href="/movie/<%= movie.id %>"><img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %> Poster" /></a>
              <div class="details">
                <div class="rating" style="font-size: 12px">
                  <%= movie.vote_average.toFixed(2) %>
                </div>
                <h4 class="movie-name">
                  <%= movie.title %>
                </h4>
                <p class="movie-date" style="font-size: 12px">
                  <%= movie.release_date %>
                </p>
              </div>
            </div>
            <% } %>
              <% } %>
      </div>

      <div class="column-content flex weekList">
        <% if (trendingMovieListWeek) { %>
          <% for (const movie of trendingMovieListWeek.results) { %>
            <div class="movie-card">
              <a href="/<%= movie.id %>"></a><img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %> Poster" />
              <div class="details">
                <div class="rating" style="font-size: 12px">
                  <%= movie.vote_average.toFixed(2) %>
                </div>
                <h4 class="movie-name">
                  <%= movie.title %>
                </h4>
                <p class="movie-date" style="font-size: 12px">
                  <%= movie.release_date %>
                </p>
              </div>
            </div>
            <% } %>
              <% } %>
      </div>
    </div>
  </section>

  <section class="inner-content">

    <div class="column-container">

      <div class="latest-trailer">
        <div class="column-container-header flex">
          <h1 >Latest Trailers</h1>
          <div class="selector flex">
            <div class="anchor  selected">
              <a href="#" class="non-clickable">Streming</a>
            </div>
            <div class="anchor ">
              <a href="#" class="non-clickable">On tv</a>
            </div>
            <div class="anchor ">
              <a href="#">For rent</a>
            </div>
            <div class="anchor " >
              <a href="#" class="non-clickable">On theaters</a>
            </div>
          </div>
        </div>

        <div class="column-content flex">
          <% if (locals.latestMovieList) { %>
            
            <% for (const movie of latestMovieList) { %>
              <div class="trailer-card">
                <iframe width="300" height="169" style="border-radius: 8px;" src="https://www.youtube.com/embed/<%= movie.key %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                <div class="details">
                  <div class="trailer-details">
                    <h1><%= movie.name %></h1>
                    <h4><%=movie.type%></h4>
                  </div>
                  <h4 class="movie-name">
                    <%= movie.title %>
                  </h4>
                  <p class="movie-date" style="font-size: 12px">
                    <%= movie.release_date %>
                  </p>
                </div>
              </div>
              <% } %>
                <% } %>
        </div>

      </div>

    </div>

  </section>

  <section class="popular inner-content">
    <div class="column-container m-tb-5">
      <div class="column-container-header flex">
        <h1>What's Popular</h1>
        <div class="selector flex">
          <div class="anchor  selected">
            <a href="#">Streming</a>
          </div>
          <div class="anchor ">
            <a href="#">On tv</a>
          </div>
          <div class="anchor ">
            <a href="#">For rent</a>
          </div>
          <div class="anchor ">
            <a href="#">On theaters</a>
          </div>
        </div>
      </div>

      <div class="popular column-content flex">
        <% if (popularMovieList) { %>
          <% for (const movie of popularMovieList.results) { %>
            <div class="movie-card">
              <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="<%= movie.title %> Poster" />
              <div class="details">
                <div class="rating" style="font-size: 12px">
                  <%= movie.vote_average.toFixed(2) %>
                </div>
                <h4 class="movie-name">
                  <%= movie.title %>
                </h4>
                <p class="movie-date" style="font-size: 12px">
                  <%= movie.release_date %>
                </p>
              </div>
            </div>
            <% } %>
              <% } %>
      </div>
    </div>
  </section>



</script>


  <%- include("footer.ejs") %>