<%- include("navbar.ejs") %>

    <div class="inner-content">

        <div class="movie-content">

            
            <% if(locals.movieList){ %>

            <% movieList.results.forEach(movie=> { %>

                <div class="movie-card">
                    <% if ( movie.poster_path && movie.poster_path.trim() !== ''){ %>
                    <a href="/movie/<%= movie.id %>"><img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>"
                            alt="<%= movie.title %> Poster" /></a>
                    <% } else{ %>
                        <a href="/movie/<%= movie.id %>"><img src="assest/image/movieDefualt.png"
                            alt="<%= movie.title %> Poster" /></a>
                    <% } %>
                            <div class="details">
                        <div class="rating" style="font-size: 12px">
                            <%= movie.vote_average%>
                        </div>
                        <h4 class="movie-name">
                            <%= movie.title %>
                        </h4>
                        <p class="movie-date" style="font-size: 12px">
                            <%= movie.release_date %>
                        </p>
                    </div>
                </div>
                <%  }); %>
                <% } else{%>
                    <h1 class="error-message" style="display: block; width: 500px; height: 32vh;"><%=  message%></h1>
                <% } %>
            </div>

        <% if(locals.btn) {%>
        <button class="btn-load-more" id="load-more"> Load More</button>
        <% } %>
      
    </div>

    <%- include("footer.ejs") %>